
<div class="row align-items-center">
    <div class="col-lg-9 col-xl-8">
        <div class="row align-items-center">
            <div class="col-md-5 my-2 my-md-0">
                <div class="input-icon">
                    <input type="text" class="form-control" placeholder="Search" id="txt_search_query">
                    <span>
                        <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0 mr-20">
                <button type="button" id="btnSearch" class="btn btn-primary font-weight-bold">Search</button>
            </div>
        </div>
    </div>
</div>

